
<%= form_for(@customer, :remote => true ) do |f| %>

  <div id="customer_errors" style="display:none"></div>

  <div class="field">
    <%= f.label :firstname,  "First Name" %>
    <%= f.text_field :firstname %>
    <%= f.label :lastname,   "Last Name " %>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email,      "EMail Addr" %>
    <%= f.text_field :email %>
    <%= f.label :phone,      "Phone No.  " %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address_id, "Address Id."%>
    <%= f.text_field :address_id %>
    <%= f.label :password,   "Password   " %>
    <%= f.text_field :password %>
    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
